@import "tailwindcss";

/* Definición del tema global */
@theme {
  /* 🎨 Colores */
  --color-primary: #1193d4;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101c22;

  
  --font-display: "Inter", sans-serif;

  --radius: 0.25rem;      
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
